@switchSize: 15px;

.sw {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  //  vertical-align: text-bottom;
  vertical-align: middle;
  cursor: pointer;
  border-radius: @switchSize;
  transition: background 250ms 100ms;
  background-color: #c7c7c7;
  width: (@switchSize * 2)+ 2;
  height: @switchSize + 2 + 2;
  line-height: 50px;
  //  margin: 10px 0px 0px 0px;
}

.switch:after {
  position: absolute;
  content: '';
  width: @switchSize;
  height: @switchSize;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: 150ms linear;
  background-color: white;
}

input:checked + .switch {
  background: green;
}

input:checked + .switch:after {
  left: @switchSize;
}