<div class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <br/>
                <form ng-submit="MocksCtrl.addMock()" name="form" role="form">
                    <div class="form-group">
                        <input type="text" ng-model="MocksCtrl.mock.regex" required placeholder="Regex" class="form-control" />
                    </div>
                    <div class="form-group">
                        <datalist id="media-type">
                            <option value="application/json">application/json</option>
                        </datalist>
                        <input type="text" ng-model="MocksCtrl.mock.contentType"  placeholder="Media type" list="media-type" required class="form-control"/>
                    </div>
                    <div class="form-group">
                         <textarea ng-model="MocksCtrl.mock.body" name="" id="" cols="30" rows="3" required placeholder="Body" class="form-control"></textarea>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="form.$invalid" class="btn btn-primary btn-block" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                    </div>
                </form>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <br/>
            <ul ui-sortable="MocksCtrl.sortableOptions" ng-model="MocksCtrl.mocks" ng-change="MocksCtrl.saveOrder()" class="list-group">
                <li ng-repeat="mock in MocksCtrl.mocks" class="list-group-item mock">
                        <span class="switch-wrapper">
                          <input type="checkbox" id="switch_{{mock._id}}" class="sw" ng-model="mock.enabled" ng-change="mock.save()" />
                          <label class="switch" for="switch_{{mock._id}}"></label>
                        </span>

                    <span>{{mock.regex}}</span>

                    <!--<a class="delete-button" href="#/mocks/{{mock._id}}"><i class="fa fa-eye"></i></a>-->
                    <a class="delete-button pull-right" ng-click="MocksCtrl.deleteMock(mock, $index)"><i class="fa fa-trash-o"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
