@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import "includes/fontawesome/font-awesome";
@import "../public/bower_components/bootstrap/less/bootstrap";
@import "includes/myVariables";
@import "includes/common";
@import "includes/switch";

body {
  padding-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

[ng-view] {
  &.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadein 0.5s;
  }

  &.ng-leave {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
  }
}

.form-wrapper {
//  background: #B3B3B3;
  background: #fff;
}

.mock {
  cursor:move;

  .switch-wrapper {
    margin-right: 20px;
  }

  &.ng-enter {
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeDownIn 0.5s;
  }

  &.ng-leave {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
  }

  .delete-button {
    float: right;
    color: #BCBCBC;

    &:hover {
      color: red;
    }
  }
}
